<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedicalProjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aGlucose.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>aPressure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>aWeights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>aWeightsTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91346991747A1A700778D9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9516727175795E50058E5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9516747175795F40058E5B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A98036DC17458D3100F808C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A980370D17458D3100F808C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A98B236E175B80DE00D96058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
